.card{
    margin-left: 0px !important;
    /* width: 350px; */
    min-width: 350px;
    /* max-width: 450px; */
   width: 100% !important;
 
}

.Task{
    display: flex;
    margin: 0;
    width: 100% ;
    padding-left: 20px;
}

.taskHeader{
    min-width: 100% !important;
}

.cardContent{
    word-wrap: break-word;
    min-height: 40px;
}

.textArea{
    overflow: auto;
}

