@tailwind base;
@tailwind components;
@tailwind utilities;

.GridBox{
    background-color: #eceff1 ;
}

.Menu{
    padding: 0 !important;
    margin-left: 0 !important;
}

.modalWindow{
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    width: 100% !important;
}


.test{
    flex:1
}